.span12{"ng-controller" => "AlbumCtrl"}
  %h1.page-header {{album.title}}
  .row
    .col-md-8
      /%h1.page-header Thumbnail Gallery
      .photos.col-md-4.col-xs-6{"ng-repeat" => "photo in album.photos"}
        .thumb.medium.thumbnail
          .img-wrapper
            %img(src='{{photo.medium || photo.url}}')
          .icn-btn-remove(ng-click='deletePhoto($index)') &#215;
      .clearfix
    .col-md-4
      %uploader-partial(target-id='{{album.id}}' target-type='albums')
