%h1.page-header This is albums index page
.list{"ng-controller" => "AlbumsCtrl"}
  %form{'ng-submit' => 'addAlbum()', 'name' => 'addAlbumForm'}
    %input.form-control(type='text' ng-model='newAlbum.title' required)
    %input.btn.btn-default(type='submit' value='Add' ng-disabled='!addAlbumForm.$valid')
  %ul.albums
    %li.album{"ng-repeat" => "album in albums"}
      %a(href="/albums/{{album.id}}")
        .col-lg-3.col-md-4.col-xs-6.thumb.medium
          %img.thumbnail(src='{{album.album_cover}}')
          {{album.title}} ({{album.photos_count}} photos)
          %span.icon.icon-remove(ng-click='delete($index)')
