%h1.page-header This is albums index page
.list{"ng-controller" => "AlbumsCtrl"}
  %form{'ng-submit' => 'addAlbum()', 'name' => 'addAlbumForm'}
    %input.form-control(type='text' ng-model='newAlbum.title' required)
    %input.btn.btn-default(type='submit' value='Add' ng-disabled='!addAlbumForm.$valid')
  .row.photos-set
    /%h1.page-header Thumbnail Gallery
    .photos.col-md-3.col-xs-6{"ng-repeat" => "album in albums"}
      .thumb.medium.thumbnail
        %a(href="/albums/{{album.id}}")
          .img-wrapper
            %img(src='{{album.album_cover}}')
          %span(title='{{album.title}}')
            {{album.title}} 
          %span
            ({{album.photos_count}})
        .icn-btn-remove(ng-click='delete($index)') &#215;
    .clearfix


