.container.aaa
  .slider
    / enumerate all photos
    %img.slide{"ng-repeat" => "photo in photos", "ng-show" => "isActive($index)", "ng-src" => "{{photo.path}}", "ng-swipe-left" => "showNext()", "ng-swipe-right" => "showPrev()"}/
    / prev / next controls
    %a.arrow.prev{href: "#", "ng-click" => "showPrev()"} &#10096;
    %a.arrow.next{href: "#", "ng-click" => "showNext()"} &#10097;
    / extra navigation controls
  .nav
    %a.nav-buttons.prev{href: "#", "ng-click" => "moveNavRight()"} &#10096;
    .nav-container
      .nav-items{"ng-style" => "navStyle"}
        %ul
          %li{"ng-class" => "{'active':isActive($index)}", "ng-repeat" => "photo in photos"}
            %img{alt: "", "ng-click" => "showPhoto($index);", "src" =>"{{photo.preview}}", title: ""}/    
    %a.nav-buttons.next{href: "#", "ng-click" => "moveNavLeft()"} &#10097;
  %a.close(ng-click="close()") Close